<div class="row event-row">
  <div class="col-sm-6 col-on-the-left">
    <div class="row row-left row-time">
      <div class="panel panel-default event-panel-left event-time">
        <div class="panel-heading">
          <%= event.start_date.strftime('%a, %b %d %Y') %>
        </div>
      </div>
      <div class="arrow-right"></div>
    </div>
  </div>

  <div class="col-sm-6" style="padding-right: 0px;">
    <div class="row row-right">
      <div class="arrow-left"></div>
      <a href="#" data-toggle="modal" data-target="#myModal<%= event.id %>">
        <div class="panel panel-default event-panel-right">
          <div class="panel-heading"><h4><%= event.title%></h4></div>
          <div class="panel-body">
            <% if event.event_img? %>
              <%= image_tag event.event_img, :class=>'img-preview' %> 
            <% else %>
              <%= image_tag "plane.png", :class=>'img-preview' %>
            <% end %>
            <%= event.description.truncate(120) %>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<%= render 'show_event', :event=>event %>