<div class="full-image-container">
  <div style="background-image: url(<%= asset_path "scripps.jpg" %>)" class="full-img">
    <div class="container introductive-title">
      <br><br><br><br><figure><%= image_tag "cssa_box.png"%></figure>
      <br><br>
      <h1>学术与职业发展部</h1>
      <h2>Department of Academic and Career Development</h2><br>
      <hr><br>
      <div class="font-awesome-group">
        <%= link_to "https://www.facebook.com/groups/309629275764809",:target=>'_blank' do %>
          <i class="fa fa-facebook fa-2x"></i>
        <% end %>
        <%= link_to "https://twitter.com/ucsdcssa", :target=>'_blank' do %>
          <i class="fa fa-twitter fa-2x"></i>
        <% end %>
        <%= link_to "http://www.linkedin.com/company/3076220?trk=vsrp_companies_res_pri_act&trkInfo=VSRPsearchId%3A550081901367080753105%2CVSRPtargetId%3A3076220%2CVSRPcmpt%3Aprimary", :target=>'_blank' do %>
          <i class="fa fa-linkedin fa-2x"></i>
        <% end %>
        <%= link_to "http://page.renren.com/601269960", :target=>'_blank' do %>
          <span>人</span>
        <% end %>
      </div>
    </div>
  </div>
</div>