<div class="new-frame">
  <div class="row">
    <div class="col-sm-12 top-title">
      <header>校园资源</header>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="item-container">
          <%= link_to blogs_path(:category=>11) do%>
            <div>
              <%= image_tag "club.png", :class=>'image-item'%> <h3 class="sm-title">课外活动</h3>
            </div>
          <% end %>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="item-container">
        <%= link_to blogs_path(:category=>8) do%>
          <div>
            <%= image_tag "web.png", :class=>'image-item'%> <h3 class="sm-title">网络资源</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="item-container">
        <%= link_to blogs_path(:category=>9) do%>
          <div>
            <%= image_tag "library.png", :class=>'image-item'%> <h3 class="sm-title">图书资源</h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="item-container">
        <%= link_to blogs_path(:category=>10) do%>
          <div>
            <%= image_tag "advising.png", :class=>'image-item'%> <h3 class="sm-title">咨询辅导</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="item-container">
        <%= link_to blogs_path(:category=>12) do%>
          <div>
            <%= image_tag "job.png", :class=>'image-item'%> <h3 class="sm-title">工作实验</h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="item-container">
        <%= link_to blogs_path(:category=>13) do%>
          <div>
            <%= image_tag "abroad.png", :class=>'image-item'%> <h3 class="sm-title">留学"海外"</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>