<div class="image-container">
  <div style="background-image: url(<%= asset_path "ucsd_campus.jpg" %>)" class="full-img">
    <div class="container introductive-title">
      <br>
      <header>University of California</header>
      <header>San Diego</header><br><br>
      <br>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="sub-topic-3">
            <%= link_to blogs_path(:category=>0) do %>
              <h2>学院</h2>
              <p>继承英国的传统,年轻的UCSD采用了古老的学院制. 本系列将介绍六个学院,包括Revelle, Muir, Marshall, Warren, ERC和Sixth College.</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="sub-topic-3">
              <%= link_to blogs_path(:category=>1) do %>
                <h2>专业</h2>
                <p>虽然是由生物工程发家的,UCSD拥有强大的工程学科.这个以科研为导向的综合性大学在文科方面也毫不逊色,比如排全美前三的Theater.</p>
              <% end %>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="sub-topic-3">
            <%= link_to blogs_path(:category=>2) do %>
              <h2>交通</h2>
              <p>坐落于优美的La Jolla小镇,与太平洋为伴一直是UCSD广大学子的福利.附近有大型超市,机场也不过开车半小时以内的距离,众多的免费公交亦是利器.</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="sub-topic-3">
            <%= link_to blogs_path(:category=>3) do %>
              <h2>Q&A</h2>
              <p>学院和专业有什么关系? 课程是教授教还是TA教? AP如何换学分? 转专业难吗? 宿舍有哪些,可以选吗? 这里的Greek Life如何? 别急,你想要的答案这里都有.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>